<script type="text/javascript">

    $(function() {

        $("#Search").keyup(function(e) {
            var n = $("#Search").val();
            $.get("/Ingredient/GetIngredients?prefix="+n,function(r){
                //update ui with results
                $("#details").html(r);
            });

        });

    });

</script>

<h2>Список рецептов</h2>

<input type="text" id="Search" placeholder="Search" />

<a href="/Recipe/Edit/0">Добавить</a>
<div class="row">
    <div class="col-sm-5">
        <b>Название</b>
    </div>
    <div class="col-sm-1">
        <b>Б</b>
    </div>
    <div class="col-sm-1">
        <b>Ж</b>
    </div>
    <div class="col-sm-1">
        <b>У</b>
    </div>
    <div class="col-sm-2">
        <b>Ккал</b>
    </div>
</div>
<div class="rows" id="details">
    @Html.Action("GetRecipes")
</div>
