<script type="text/javascript">

    $(function() {

        $("#Search").keyup(function(e) {
            var n = $("#Search").val();
            $.get("/Ingredient/GetIngredients?prefix="+n,function(r){
                //update ui with results
                $("#details").html(r);
            });

        });

    });

</script>

<h2>Список рецептов</h2>

<input type="text" id="Search" placeholder="Search" />

<a href="/Recipe/Edit/0">Добавить</a>
<table>
    <thead>
        <tr class="row">
            <td class="col-sm-5"><b>Название</b></td>
            <td class="col-sm-1"><b>Масса</b></td>
            <td class="col-sm-1"><b>Б</b></td>
            <td class="col-sm-1"><b>Ж</b></td>
            <td class="col-sm-1"><b>У</b></td>
            <td class="col-sm-1"><b>Ккал</b></td>
        </tr>
    </thead>
    <tbody class="rows" id="details">
        @Html.Action("GetRecipes")
    </tbody>
</table>
